@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between-center {
    @apply flex justify-between items-center;
  }
}

::selection {
  background-color: hsla(197, 71%, 52%, 0.2);
  color: hsl(205, 90%, 45%);
}

html {
  --scrollbarBG: hsla(0, 0%, 100%, 0);
  --thumbBG: hsl(0, 0%, 85%);
  --bg-dot-color: hsl(210, 80%, 60%);
  --color-scheme: light;
  color-scheme: var(--color-scheme);
  overflow-y: scroll;
  overflow-x: auto;
}
html::-webkit-scrollbar {
  width: 5px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
html::-webkit-scrollbar-track {
  background-color: var(--scrollbarBG);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 10px;
}

html.dark {
  --bg-dot-color: white;
  --color-scheme: dark;
}
