.prose a:hover {
  text-decoration-line: underline !important;
  text-underline-offset: 4px;
}

.prose code {
  color: hsl(0, 90%, 68%);
  background-color: hsla(347, 78%, 68%, 0.1);
  border-radius: 2px;
  font-size: 0.87em;
  padding: 0.065em 0.4em;
}

.prose code::before {
  content: "";
}

.prose code::after {
  content: "";
}

.prose pre.astro-code code {
  padding: 0;
  background: none;
  font-size: 1.05em;
  font-family: MONACO, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
