---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import '../styles/index.css'
---

<Layout title="Lovell Liu">
	<Header />
	<main class="mx-auto w-full px-7 py-10">
	</main>
</Layout>

<style>
</style>
