<div class="fixed top-0 left-0 -z-[1] overflow-hidden w-screen h-screen">
  <div class="children:absolute children:-z-50 children:rounded-full children-after:content-none children-after:rounded-md">
    <div class="signup-bg-stars w-px h-px after:w-px after:h-px" />
    <div class="signup-bg-stars-2 w-[2px] h-[2px] after:w-[2px] after:h-[2px]" />
    <div class="signup-bg-stars-3 w-[3px] h-[3px] after:w-[3px] after:h-[3px]" />
  </div>
</div>

<style>
.signup-bg-stars {
  box-shadow: 750px 740px rgba(255, 255, 255, 0.2), 1350px 631px var(--bg-dot-color),
    56px 1452px var(--bg-dot-color), 554px 1842px var(--bg-dot-color),
    1977px 711px var(--bg-dot-color), 1773px 515px var(--bg-dot-color),
    1874px 323px var(--bg-dot-color), 382px 762px var(--bg-dot-color),
    1327px 1856px var(--bg-dot-color), 921px 157px var(--bg-dot-color),
    1802px 703px var(--bg-dot-color), 1612px 757px var(--bg-dot-color),
    1758px 724px var(--bg-dot-color), 1706px 307px var(--bg-dot-color),
    616px 487px var(--bg-dot-color), 702px 1618px var(--bg-dot-color),
    424px 1839px var(--bg-dot-color), 648px 1417px var(--bg-dot-color),
    1671px 319px var(--bg-dot-color), 304px 750px var(--bg-dot-color),
    1140px 1473px var(--bg-dot-color), 572px 193px var(--bg-dot-color),
    1501px 1292px var(--bg-dot-color), 119px 1214px var(--bg-dot-color),
    1637px 1164px var(--bg-dot-color), 1540px 1242px var(--bg-dot-color),
    1722px 1715px var(--bg-dot-color), 1691px 1010px var(--bg-dot-color),
    236px 433px var(--bg-dot-color), 1336px 950px var(--bg-dot-color),
    1168px 1193px var(--bg-dot-color), 304px 855px var(--bg-dot-color),
    322px 1892px var(--bg-dot-color), 260px 231px var(--bg-dot-color),
    1984px 1336px var(--bg-dot-color), 1630px 149px var(--bg-dot-color),
    650px 1260px var(--bg-dot-color), 1208px 1841px var(--bg-dot-color),
    1361px 628px var(--bg-dot-color), 261px 412px var(--bg-dot-color),
    1105px 869px var(--bg-dot-color), 1207px 1819px var(--bg-dot-color),
    1923px 323px var(--bg-dot-color), 224px 1390px var(--bg-dot-color),
    1248px 540px var(--bg-dot-color), 1024px 1544px var(--bg-dot-color),
    986px 1703px var(--bg-dot-color), 425px 1150px var(--bg-dot-color),
    547px 1821px var(--bg-dot-color), 1470px 1215px var(--bg-dot-color),
    1511px 1178px var(--bg-dot-color), 472px 1850px var(--bg-dot-color),
    1684px 1003px var(--bg-dot-color), 1987px 1466px var(--bg-dot-color),
    453px 1830px var(--bg-dot-color), 482px 433px var(--bg-dot-color),
    835px 1784px var(--bg-dot-color), 1193px 958px var(--bg-dot-color),
    306px 88px var(--bg-dot-color), 928px 1389px var(--bg-dot-color),
    349px 1592px var(--bg-dot-color), 1053px 1676px var(--bg-dot-color),
    1492px 513px var(--bg-dot-color), 1855px 1115px var(--bg-dot-color),
    93px 1316px var(--bg-dot-color), 1244px 95px var(--bg-dot-color),
    1429px 545px var(--bg-dot-color), 1802px 1521px var(--bg-dot-color),
    479px 714px var(--bg-dot-color), 221px 785px var(--bg-dot-color);
  animation: animStar 100s linear infinite;
}

.signup-bg-stars::after {
  box-shadow: 750px 740px rgba(255, 255, 255, 0.2), 1350px 631px var(--bg-dot-color),
    56px 1452px var(--bg-dot-color), 554px 1842px var(--bg-dot-color),
    1977px 711px var(--bg-dot-color), 1773px 515px var(--bg-dot-color),
    1874px 323px var(--bg-dot-color), 382px 762px var(--bg-dot-color),
    1327px 1856px var(--bg-dot-color), 921px 157px var(--bg-dot-color),
    1802px 703px var(--bg-dot-color), 1612px 757px var(--bg-dot-color),
    1758px 724px var(--bg-dot-color), 1706px 307px var(--bg-dot-color),
    616px 487px var(--bg-dot-color), 702px 1618px var(--bg-dot-color),
    424px 1839px var(--bg-dot-color), 648px 1417px var(--bg-dot-color),
    1671px 319px var(--bg-dot-color), 304px 750px var(--bg-dot-color),
    1140px 1473px var(--bg-dot-color), 572px 193px var(--bg-dot-color),
    1501px 1292px var(--bg-dot-color), 119px 1214px var(--bg-dot-color),
    1637px 1164px var(--bg-dot-color), 1540px 1242px var(--bg-dot-color),
    1722px 1715px var(--bg-dot-color), 1691px 1010px var(--bg-dot-color),
    236px 433px var(--bg-dot-color), 1336px 950px var(--bg-dot-color),
    1168px 1193px var(--bg-dot-color), 304px 855px var(--bg-dot-color),
    322px 1892px var(--bg-dot-color), 260px 231px var(--bg-dot-color),
    1984px 1336px var(--bg-dot-color), 1630px 149px var(--bg-dot-color),
    650px 1260px var(--bg-dot-color), 1208px 1841px var(--bg-dot-color),
    1361px 628px var(--bg-dot-color), 261px 412px var(--bg-dot-color),
    1105px 869px var(--bg-dot-color), 1207px 1819px var(--bg-dot-color),
    1923px 323px var(--bg-dot-color), 224px 1390px var(--bg-dot-color),
    1248px 540px var(--bg-dot-color), 1024px 1544px var(--bg-dot-color),
    986px 1703px var(--bg-dot-color), 425px 1150px var(--bg-dot-color),
    547px 1821px var(--bg-dot-color), 1470px 1215px var(--bg-dot-color),
    1511px 1178px var(--bg-dot-color), 472px 1850px var(--bg-dot-color),
    1684px 1003px var(--bg-dot-color), 1987px 1466px var(--bg-dot-color),
    453px 1830px var(--bg-dot-color), 482px 433px var(--bg-dot-color),
    835px 1784px var(--bg-dot-color), 1193px 958px var(--bg-dot-color),
    306px 88px var(--bg-dot-color), 928px 1389px var(--bg-dot-color),
    349px 1592px var(--bg-dot-color), 1053px 1676px var(--bg-dot-color),
    1492px 513px var(--bg-dot-color), 1855px 1115px var(--bg-dot-color),
    93px 1316px var(--bg-dot-color), 1244px 95px var(--bg-dot-color),
    1429px 545px var(--bg-dot-color), 1802px 1521px var(--bg-dot-color),
    479px 714px var(--bg-dot-color), 221px 785px var(--bg-dot-color);
  opacity: 0.7;
}

.signup-bg-stars-2 {
  box-shadow: 18px 249px rgba(255, 255, 255, 0.2), 1010px 1194px var(--bg-dot-color),
    1566px 862px var(--bg-dot-color), 1522px 47px var(--bg-dot-color),
    1268px 1429px var(--bg-dot-color), 685px 239px var(--bg-dot-color),
    511px 1827px var(--bg-dot-color), 1862px 1202px var(--bg-dot-color),
    1869px 491px var(--bg-dot-color), 912px 344px var(--bg-dot-color), 11px 208px var(--bg-dot-color),
    1694px 572px var(--bg-dot-color), 779px 662px var(--bg-dot-color),
    1430px 812px var(--bg-dot-color), 365px 1526px var(--bg-dot-color),
    185px 823px var(--bg-dot-color), 1954px 1745px var(--bg-dot-color),
    445px 1728px var(--bg-dot-color), 826px 1711px var(--bg-dot-color),
    1703px 1366px var(--bg-dot-color);
  animation: animStar 150s linear infinite;
}

.signup-bg-stars-2::after {
  box-shadow: 18px 249px rgba(255, 255, 255, 0.2), 1010px 1194px var(--bg-dot-color),
    1566px 862px var(--bg-dot-color), 1522px 47px var(--bg-dot-color),
    1268px 1429px var(--bg-dot-color), 685px 239px var(--bg-dot-color),
    511px 1827px var(--bg-dot-color), 1862px 1202px var(--bg-dot-color),
    1869px 491px var(--bg-dot-color), 912px 344px var(--bg-dot-color), 11px 208px var(--bg-dot-color),
    1694px 572px var(--bg-dot-color), 779px 662px var(--bg-dot-color),
    1430px 812px var(--bg-dot-color), 365px 1526px var(--bg-dot-color),
    185px 823px var(--bg-dot-color), 1954px 1745px var(--bg-dot-color),
    445px 1728px var(--bg-dot-color), 826px 1711px var(--bg-dot-color),
    1703px 1366px var(--bg-dot-color);
}

.signup-bg-stars-3 {
  box-shadow: 588px 305px rgba(255, 255, 255, 0.2), 1968px 1036px var(--bg-dot-color),
    970px 941px var(--bg-dot-color), 655px 814px var(--bg-dot-color), 376px 480px var(--bg-dot-color),
    257px 519px var(--bg-dot-color), 1417px 545px var(--bg-dot-color),
    872px 281px var(--bg-dot-color), 724px 937px var(--bg-dot-color),
    304px 1811px var(--bg-dot-color);
  animation: animStar 200s linear infinite;
}

.signup-bg-stars-3::after {
  box-shadow: 588px 305px rgba(255, 255, 255, 0.2), 1968px 1036px var(--bg-dot-color),
    970px 941px var(--bg-dot-color), 655px 814px var(--bg-dot-color), 376px 480px var(--bg-dot-color),
    257px 519px var(--bg-dot-color), 1417px 545px var(--bg-dot-color),
    872px 281px var(--bg-dot-color), 724px 937px var(--bg-dot-color),
    304px 1811px var(--bg-dot-color);
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}
</style>
