---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Background from '../components/Background.astro'
import '../styles/index.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="Lovell Liu" />
    <meta name="robots" content="follow, index" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:title" content="Lovell Liu">
    <meta name="og:description" content="Lovell Liu's blog">
    <meta name="og:image" content={
      `https://og.lovelliu.me/api/og?title=${title.replace(/(\s-\s)?Lovell\sLiu/, '')}`
    }>
    <title>{title}</title>
  </head>
  <body class="transition-[background-color] ease-in-out duration-500 bg-day dark:bg-dark">
    <Header />
    <main class="p-7">
      <div class="mx-auto prose prose-a:no-underline mb-4 dark:prose-invert"><slot name="headline" /></div>
      <article>
        <div
          class="
            mx-auto
            prose
          prose-a:text-blue-500
            prose-a:no-underline
            prose-strong:text-red-500
            dark:prose-invert
          "
        >
          <slot />
        </div>
      </article>
    </main>
    <Footer />
    <Background />
  </body>
</html>

<script>
import NProgress from 'nprogress'
import 'nprogress/nprogress.css'

NProgress.start()
const timer = setInterval(() => {
  NProgress.inc()
}, 1000)

window.addEventListener('load', () => {
  clearInterval(timer)
  NProgress.done()
})

window.addEventListener('unload', () => {
  NProgress.start()
})
</script>
