---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Background from '../components/Background.astro'
import '../styles/index.css'

export interface Props {
  title: string
  isBold?: boolean
}

const { title, isBold } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-webfont/1.6.0/style.min.css">
    <meta name="author" content="Lovell Liu" />
    <meta name="description" content="Lovell Liu's blog" />
    <meta name="robots" content="follow, index" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Lovell Liu">
    <meta property="og:url" content="https://lovelliu.me/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Lovell Liu's blog">
    <meta property="og:image" content={
      `https://og.lovelliu.me/api/og?title=${title.replace(/(\s-\s)?Lovell\sLiu/, '')}`
    }>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Lovell Liu">
    <meta name="twitter:description" content="Lovell Liu's blog">
    <meta name="twitter:iamge" content={
      `https://og.lovelliu.me/api/og?title=${title.replace(/(\s-\s)?Lovell\sLiu/, '')}`
    }>
    <meta name="baidu-site-verification" content="codeva-BNULv2DMKf" />
    <title>{title}</title>
    <script>
      import { inject } from '@vercel/analytics'
      import { webVitals } from '../lib/vitals'
      // @ts-expect-error: process.env.NODE_ENV is required by @vercel/analytics internally
      // so that it can determine the correct path for importing the analytics script
      globalThis.process = { env: { NODE_ENV: import.meta.env.MODE } }
      inject()
      const analyticsId = import.meta.env.PUBLIC_VERCEL_ANALYTICS_ID
      if (analyticsId) {
        webVitals({
          path: location.pathname,
          params: location.search,
          analyticsId,
        })
      }
    </script>
  </head>
  <body class="transition-[background-color] ease-in-out duration-500 bg-day dark:bg-dark">
    <Header />
    <main class:list={['p-7', { 'font-bold': isBold }]}>
      <div class="mx-auto prose prose-a:no-underline mb-4 dark:prose-invert">
        <slot name="headline" />
      </div>
      <article>
        <div
          class="
            mx-auto
            prose
          prose-a:text-blue-500
            prose-a:no-underline
            prose-strong:text-red-500
            dark:prose-invert
          "
        >
          <slot />
        </div>
      </article>
    </main>
    <Footer />
    <Background />
  </body>
</html>

<script>
import NProgress from 'nprogress'
import 'nprogress/nprogress.css'

NProgress.start()
const timer = setInterval(() => {
  NProgress.inc()
}, 1000)

window.addEventListener('load', () => {
  clearInterval(timer)
  NProgress.done()
})

window.addEventListener('unload', () => {
  NProgress.start()
})
</script>
