---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/index.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="transition ease-in-out duration-500 bg-day dark:bg-dark">
    <Header />
    <main class="p-7">
      <div class="mx-auto prose mb-8 dark:prose-invert"><slot name="headline" /></div>
      <article>
        <div class="mx-auto prose dark:prose-invert">
          <slot name="content" />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
