---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../styles/index.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="Lovell Liu" />
    <meta name="robots" content="follow, index" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="transition ease-in-out duration-500 antialiased bg-day dark:bg-dark">
    <Header />
    <main class="p-7">
      <div class="mx-auto prose prose-a:no-underline mb-4 dark:prose-invert"><slot name="headline" /></div>
      <article>
        <div
          class="
            mx-auto
            prose
          prose-a:text-blue-500
            prose-a:no-underline
            prose-strong:text-red-500
            dark:prose-invert
          "
        >
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
